<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/register.css">
    </head>
    <body> 
        <header class="header-main">
            <div class="header-top">
                <div class="ml-logo">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
                </div>
            <div class="form" action="#" method="GET">
                <div class="input">¿Qué estás buscando?</div>
                <div class="submit"><i class="fa fa-search"></i></div> 
            </div>
            <div class="credit-card">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
            <nav class="navbars">
                <ul class="navbar-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                
                <ul class="navbar-right">
                    <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <a href="#"><i class="fa fa-bars burger"></i></a>
            </div>
        </header>
        <main class="main-register">
            <form action="/" method="POST">
                <input type="text" name="name" placeholder="Nombre y apellido" required>
                <input type="text" name="user" placeholder="Nombre de usuario" required>
                <input type="email" name="email" placeholder="e-mail" required>
                <h4 class="form-date">Fecha de nacimiento</h4>
                <input class="text" type="date" name="birth-date" id="birth-date" min="1900-01-01" max="2100-01-01" required>
                <input type="text" name="addres" placeholder="Domicilio" required>
                <h4 class="reg-info">Perfil del usuario</h4>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>
                <h2 class="reg-info">Categorías de intereses</h2>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                </div>
                
                <h4 class="reg-info">Elegí tu foto de usuario</h4>
                <input type="file" name="user-image">
                <input type="password" name="password" placeholder="Contraseña">
                <input type="password" name="password_confirm" placeholder="Confirmar contraseña">
                <div class="buttons">
                <input class="button" type="submit" value="Enviar">
                <input class="button" type="reset" value="Borrar">
                </div>
            </form>
        </main>
        <footer>
            <article>
                <i class="fas fa-comment-dollar"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash tenés cuotas sin interés con tarjetas o efectivo en puntos de pago.¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
            </article>
            <article>
                <p> Copyright © 1999-2000 MercadoLiebre S.R.L.</p>
            </article>
        </footer>
    </body>
</html>